<div class="container">
	<div class="row">

		<div class="col-md-3 md-mb20 seccion_footer">
			<?php echo $this->getChildHtml('footer_aplicaciones') ?>
		</div>
		<div class="col-md-3 md-mb20 seccion_footer">
			<?php echo $this->getChildHtml('footer_col1') ?>
		</div>	
		<div class="col-md-3 md-mb20 seccion_footer">
			<?php echo $this->getChildHtml('form.subscribe') ?>
		</div>
		<div class="col-md-2 md-mb20 seccion_footer">
			<?php echo $this->getChildHtml('footer_col3') ?>
		</div>
		<div class="col-md-4 seccion_footer">
			<?php echo $this->getChildHtml('footer-contact') ?>
		</div>
	</div>
</div>